/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Anglecia-Italic;
  src: url("assets/fonts/anglecia/italic.woff");
}

.h-min {
  height: min-content;
}